/* screen - home */

.home {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1506px;
  width: 1920px;
}

.home .overlap-group8 {
  align-items: center;
  background-color: var(--san-juan);
  display: flex;
  height: 149px;
  justify-content: flex-end;
  margin-top: -7px;
  min-width: 1920px;
  padding: 30.0px 25.6px;
}

.home .asset-1300x-1 {
  align-self: flex-start;
  cursor: pointer;
  height: 89px;
  object-fit: cover;
  width: 89px;
}

.home .place {
  cursor: pointer;
  margin-left: 50px;
  margin-top: 13.56px;
  min-height: 46px;
  width: 116px;
}

.home .networks {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 53px;
  margin-top: 13.56px;
  min-height: 46px;
  width: 218px;
}

.home .sign-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.22px;
  margin-left: 1183px;
  min-height: 48px;
  width: 146px;
}

.home .overlap-group9 {
  height: 245px;
  margin-right: 168.0px;
  margin-top: 78px;
  position: relative;
  width: 986px;
}

.home .group-75 {
  height: 212px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1.1);
  width: 986px;
}

.home .group-75.animate-enter4 {
  animation: animate-enter4-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.home .overlap-group-1 {
  height: 212px;
  position: relative;
  width: 982px;
}

.home .welcome-to-ezcall {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 87.7px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(25px, 0);
}

.home .welcome-to-ezcall.animate-enter3 {
  animation: animate-enter3-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home .experience-reliable {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 85px;
}

.home .our-most-popluar-packages {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 211px;
}

.home .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-right: 120.0px;
  margin-top: 51px;
  min-width: 1364px;
}

.home .overlap-group6 {
  height: 703px;
  position: relative;
  width: 438px;
}

.home .rectangle-27 {
  background-color: var(--cultured-pearl);
  height: 703px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 436px;
}

.home .price {
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 202px;
}

.home .flipper {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.home .general-package {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}

.home .group-7:hover {
  transform: scale(1.1);
}

.home .overlap-group {
  align-items: flex-end;
  background-color: var(--green-blue);
  display: flex;
  height: 64px;
  justify-content: flex-end;
  min-width: 236px;
  padding: 16.9px 56.6px;
}

.home .overlap-group5 {
  height: 703px;
  margin-left: 26px;
  position: relative;
  width: 438px;
}

.home .place-1 {
  left: 14px;
  position: absolute;
  top: 11px;
}

.home .overlap-group4 {
  height: 703px;
  margin-left: 23px;
  position: relative;
  width: 438px;
}

.home .fone {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.home .overlap-group7 {
  align-items: flex-start;
  background-image: url(../img/rectangle-277.svg);
  background-size: 100% 100%;
  display: flex;
  height: 92px;
  margin-top: 196px;
  min-width: 1920px;
  padding: 27px 700px;
}

.home .x2023-ezcall-all-rights-reserved {
  letter-spacing: 0;
  line-height: normal;
  min-height: 34px;
}

.home .place-2 {
  letter-spacing: 0;
  line-height: normal;
}
