/* screen - sign-in */

.sign-in {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1954px;
  width: 1728px;
}

.sign-in .overlap-group2 {
  align-items: center;
  background-color: var(--san-juan);
  display: flex;
  height: 149px;
  justify-content: flex-end;
  min-width: 1728px;
  padding: 0 23px;
}

.sign-in .asset-1300x-1 {
  cursor: pointer;
  height: 89px;
  object-fit: cover;
  width: 80px;
}

.sign-in .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  margin-top: 13.0px;
  min-height: 46px;
  width: 104px;
}

.sign-in .networks {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 48px;
  margin-top: 13.0px;
  min-height: 46px;
  width: 196px;
}

.sign-in .sign-in-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 1065px;
  min-height: 48px;
  width: 131px;
}

.sign-in .overlap-group1 {
  height: 1128px;
  margin-left: 55.51px;
  margin-top: 165px;
  position: relative;
  width: 1020px;
}

.sign-in .here {
  left: 262px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 201px;
  width: 88px;
}

.sign-in .group-42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 207px;
  left: 0;
  min-height: 1128px;
  position: absolute;
  top: 0;
  width: 1020px;
}

.sign-in .overlap-group {
  height: 195px;
  margin-right: 38.95px;
  position: relative;
  width: 729px;
}

.sign-in .title {
  left: 216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.sign-in .if-you-dont-have-an-account-register {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 149px;
  width: 729px;
}

.sign-in .group-40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 258px;
  min-height: 726px;
  width: 1020px;
}

.sign-in .group-37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 4.73px;
  min-height: 151px;
  width: 1015px;
}

.sign-in .email {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  min-height: 37px;
}

.sign-in .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 52px;
  margin-top: 36px;
  min-width: 507px;
}

.sign-in .message-1 {
  align-self: flex-end;
  height: 40px;
  width: 40px;
}

.sign-in .enter-your-email-address {
  background-color: transparent;
  border: 0;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 443px;
}

.sign-in .rectangle-8 {
  background-color: var(--san-juan);
  margin-left: 0;
  margin-top: 24px;
}

.sign-in .group-36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  min-height: 151px;
  padding: 0 0.0px;
  width: 1022px;
}

.sign-in .password {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4.73px;
  min-height: 37px;
}

.sign-in .group-35 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 50px;
  margin-top: 32px;
  min-width: 441px;
}

.sign-in .padlock-1 {
  align-self: flex-end;
  height: 40px;
  margin-bottom: 0;
  width: 40px;
}

.sign-in .enter-your-password {
  background-color: transparent;
  border: 0;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0;
  padding: 0;
  width: 370px;
}

.sign-in .rectangle-9 {
  background-color: var(--mountain-mist);
  margin-left: 4.73px;
  margin-top: 28px;
}

.sign-in .component-3 {
  align-items: flex-start;
  background-color: var(--san-juan);
  border-radius: 75.69px;
  box-shadow: 0px 9.46px 61.5px #00000040;
  display: flex;
  height: 125px;
  left: 0;
  min-width: 1015px;
  padding: 39px 435px;
  position: absolute;
  top: 1003px;
}

.sign-in .login-1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  min-height: 46px;
}

.sign-in .overlap-group3 {
  align-items: center;
  background-color: var(--san-juan);
  display: flex;
  height: 92px;
  justify-content: flex-end;
  margin-top: 420px;
  min-width: 1728px;
  padding: 0 589px;
}

.sign-in .x2023-ezcall-all-rights-reserved {
  letter-spacing: 0;
  line-height: normal;
  min-height: 34px;
  min-width: 494px;
}

.sign-in .rectangle {
  height: 5px;
  width: 1015px;
}
